.container {
  padding: 1rem;
  height: 100%;

  .home-ideas-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

  }

  .chart-container {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
    gap: 4rem;
  }

  .number-of-ideas-container {

    padding: 1rem;

    span.number-of-ideas {
      font-size: 2rem;
      color: var(--primary-color);
      font-weight: bold;
      text-align: center;
    }
  }

  .skeleton-item {
    // background-color: white;
    border-radius: 10px;
  }
}
