/* General */
$fontSize: 14px;

/* Font sizes */
$fontSizeHeader: x-large;
$fontSize10: 0.625rem;
$fontSize11: 0.6875rem;
$fontSize13: 0.8125rem;
$fontSize14: 0.875rem;
$fontSizeNormal: 1rem;
$fontSize18: 1.125rem;
$fontSize20: 1.25rem;
$fontSizeBigHeader: 4rem;

/* Font weights */
$fontWeightMedium: 600;

$primaryColor: blue;
$inputColorBorder: blue;
$inputColorText: #000;
$checkIconBackground: #42be0e;
$topbarItemBadgeBgColor: #ed6e6f;

/* Document page colors */
$documentBackgroundColor: #1c1c1c;
$toolbarBorderColor: #000;
$documentTextColor: #fff;

/* Other constraints */
$headerHeight: 61px;
